.landing,
.landing__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing {
    width: 100%;
    height: 500px;
}

.landing__container {
    width: var(--qr--page-container-width);
    gap: 3rem;
}
