.header {
   width: 100%;
   position: static;
   top: 0;
   padding: 0.25rem 0.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   font-family: "Sour Gummy", sans-serif;
   font-size: 1.25rem;
}
