.hero-card {
    width: 310px;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.hero-card__code {
    width: 222px;
    height: 222px;
    background-color: var(--qr--body-background);
    border-radius: 1rem;
    display: grid;
    place-items: center;

    canvas {
        width: 100px;
        height: 100px;
        border-radius: 1rem;
        background-color: white;
    }
}

.hero-card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > * {
        text-align: center;
    }
}