
.nav {
   width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 1.75rem;
   margin-bottom: 2rem;
}

.nav-links {
   display: flex;
}

.nav-link {
   padding: 0.375rem 0.25rem;
   margin: 0 0.25rem;
}

.home-link {
   font-size: 2rem;
}