:root {

    /* ONLY THE BEST FONTS */
    --qr--fnt-heading: "Monoton", sans-serif;
    --qr--fnt-paragraph: "Zalando Sans", sans-serif;

    /* ALL OF THE PRETTIEST COLORS */
    --qr--clr-red: hsl(0, 78%, 62%);
    --qr--clr-cyan: hsl(180, 62%, 55%);
    --qr--clr-orange: hsl(34, 97%, 64%);
    --qr--clr-blue: hsl(212, 86%, 64%);
    --qr--clr-dark-blue: hsl(218, 44%, 22%);
    --qr--clr-gray: hsl(180, 6%, 46%);
    --qr--clr-dark-gray: hsl(220, 3%, 18%);
    --qr--clr-light-gray: hsl(212, 45%, 89%);
    --qr--clr-opaque-gray: hsla(212, 46%, 89%, 0.85);

    
    --qr--layout-padding-side: 1rem;



    /**** PAGE SETTINGS ****/
    --qr--body-background: var(--qr--clr-blue);
    --qr--body-font: 1.1rem/1.6 var(--qr--fnt-paragraph);
    --qr--body-color: var(--qr--clr-dark-gray);

    --qr--page-container-width: 75%;
}
