/* CSS Reset */

/* Box sizing border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol,
menu,
* li {
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}


button,
input,
textarea,
select {
  outline: none;
  border: none;
  font: inherit;
  color: inherit;
}

/* I like my buttons to be like links */
button {
  cursor: pointer;
  background-color: transparent;
  margin: 0;
}
